# Telegram Bot Token
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# Google Gemini API Key
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Hugging Face API
HUGGINGFACE_API_KEY=YOUR_HUGGINGFACE_API_KEY

# Groq API
GROQ_API_KEY=YOUR_GROQ_API_KEY

# OpenRouter API
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY

# Server Port
PORT=3000
